* {box-sizing: border-box;}

.wrapper {
  /* max-width: 940px; */
  margin: 0 auto;
  background-color: rgb(247, 247, 247);
}

.wrapper > div {
  /* background-color: rgba(233,171,88,.5); */
  padding: 1em;
  /* color: #d9480f; */
}.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(200px, auto);
}

.content {
  grid-column: 2 / 8;
  grid-row: 1 / 5;
  background-color: white;
  /* border-left: 1px solid gray; */
  /* border-radius: 5px; */
}
.sidebar {
  position: fixed;
  grid-row: 1 / 5;
  grid-column: 1;

}

.title{
  margin:0;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 20px;
  color: #525252;
}

.main_title{
  margin-left: 10px;
  color: black;
  padding:5px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #525252;
}

ul{
  list-style: none;
  margin-top: 5px;
}

ul li{
  margin: 0;
  padding: 3px;
  max-width: 180px;
}

ul li a{
  color: gray;
  text-decoration: none;
  font-size: 14px;
}

.active{
  background-color: #eee;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  padding: 5px;
}
